<script src="https://cesium.com/downloads/cesiumjs/releases/1.78/Build/Cesium/Cesium.js"></script>
<link href="https://cesium.com/downloads/cesiumjs/releases/1.78/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
<style>
    #cesiumContainer {
        width: 50%;
        height: 50%;
        margin: 50px;
        padding: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    #map {
        position: absolute;
        top: 50px;
        right: 0;
        bottom: 0;
        left: 50%;
        height: 50%;
    }
</style>
<header>
    <title>Mapas de puente aranda</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.js"></script>
</header>
<body>
    <div id="cesiumContainer"></div>
    <script>
        Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI0YzUzMTNhNy01ZjFlLTRlMWUtOTYwZi05MzFjMDA0MTY2Y2IiLCJpZCI6MTM0OTIxLCJpYXQiOjE2ODIwOTA4OTF9.JOLOEm3jJuroSLhBvWGDecHS9nyjnYMzidjaKxVbfzg';
        var viewer = new Cesium.Viewer('cesiumContainer', {terrainProvider: Cesium.createWorldTerrain()
        });
        viewer.camera.flyTo({
            destination: Cesium.Cartesian3.fromDegrees(-74.11453417035929, 4.615382194932877, 10000)
        });
    </script>
    <h1>
        buenos dias puente aranda
    </h1>
    <div id="map"></div>
    <script>
		var map = L.map('map').setView([4.615382194932877, -74.11453417035929], 13);
		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
		}).addTo(map);
	</script>
</body>

